.div {
	width: 800px;
	
}
body
{
    font-family: monospace;
    background-color: white;
    
}
.stroke {
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: black;
}
.izr {
    background-color: rgb(221, 56, 83); 
    color:white;
    border-color: rgb(221, 56, 83);
    font-weight: bold;
    font-size: large;
}
.grad {  
    background-color: #bbbbbbe7;
}

input.izr:hover {
    background-color: white;
    color: rgb(221, 56, 83);
}